.campaignContainer {
  width: 85%;
}

@media only screen and (max-width: 850px) {
  .campaignContainer {
    width: 80%;
  }
}

.allContent {
  background-color: rgba(21, 215, 180, 1);
  cursor: default;
  border-radius: 12px 12px 0 0;
}

.campaignContent {
  padding: 10px;
  max-height: 200px;
  overflow: auto;
  scrollbar-width: none;
}
.title {
  display: -webkit-box;
  max-width: 800px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 60px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 18px;
  }
}

.description {
  display: -webkit-box;
  max-width: 800px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2;
  font-size: 14px;
  max-height: 140px;
  text-align: justify;
  line-height: 1.6;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.imageContainer {
  padding: 9px;
  margin: 0%;
  height: 200px;
}
.imgCentre {
  width: 100%;
  height: 140%;
  overflow: hidden;
  border-radius: 8%;
  display: flex;
  justify-content: center;
}
.image {
  border-radius: 8%;
  display: block;
  align-items: center;
  height: 100%;
  padding: 5%;
}

@media only screen and (max-width: 850px) {
  .image {
    padding: 2%;
  }
}

.bottomSection {
  background-color: rgba(32, 178, 170, 1);
  width: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 1.4%;
  padding-bottom: 1.3%;
  height: 80px;
  overflow: auto;
  cursor: default;
  border-radius: 0 0 12px 12px;
}
.contentBottomSection {
  margin-left: auto;
  margin-right: 0px;
  color: white;
}

.DonateNow {
  margin: auto 0;
  padding: 0%;
  padding-right: 1.3%;
  text-align: center;
}
.requiredAmount {
  padding: auto 0 auto 0;
  margin: 0%;
  font-size: 15px;
}
.requiredAmount p {
  margin: 0%;
}
.DonateNow_p {
  margin: auto auto auto auto;
  font-size: 15px;
}

.disabled .allContent {
  background-color: rgba(229, 229, 229, 1);
}

.disabled .bottomSection {
  background-color: rgba(203, 203, 203, 1);
}

.disabled img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
