.container {
  margin: 2% auto !important;
}
.img {
  background-color: rgba(21, 215, 180, 1);
  border: 10px solid rgba(21, 215, 180, 1);
  border-radius: 10px;
  width: 100%;
  margin: 2%;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.header {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.title {
  overflow: hidden;

  font-weight: bolder;
}
.subtitle {
  overflow: hidden;
  font-family: Garamond;
}

.description {
  text-align: justify;
  line-height: 2;
  font-size: 14px;
  margin-top: 20px;
}

.numDonors {
  margin: 10px;
}

.shareSection {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.info {
  height: 380px;
  padding: 2% 3% !important;
}
