.container {
  text-align: center;
  padding: 3% !important;
  margin: 3% 10% 5% 10% !important;
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 3% 0 !important;
  }
}

.image {
  padding-bottom: 3%;
  image-rendering: pixelated;
}

.text {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-weight: bolder;
}
