.backgroundImage {
  background-image: url("https://images.unsplash.com/photo-1547722700-57de0f73d3a5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cG9vcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 800px;
  background-size: cover;
}

.title {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.header {
  margin: 0;
  font-size: 45px;
  font-weight: bolder;
  /* white-space: nowrap; */
}

.text {
  margin: 0;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 8px;
}

.donateBtn {
  position: relative;
  top: 63%;
  background-color: rgba(21, 215, 180, 1);
  border: none;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 550px) {
  .header {
    font-size: 35px;
  }

  .text {
    font-size: 25px;
  }
}

@media only screen and (max-height: 450px) {
  .title {
    top: 60%;
  }

  .header {
    font-size: 35px;
  }

  .text {
    font-size: 25px;
  }
}

.donateBtn {
  position: relative;
  top: 54%;
  background-color: rgba(21, 215, 180, 1);
  border: none;
  display: block;
  margin: auto;
}
.donateBtn:hover {
  background-color: rgb(11, 146, 121);
}

@media only screen and (max-width: 575px) {
  .donateBtn {
    top: 63%;
    font-size: 3vw;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1400px) and (min-height: 800px) {
  .title {
    top: 28%;
  }
  .donateBtn {
    top: 65%;
  }
}
