.nav {
  padding: 5px;
  margin: 5px;
  overflow: scroll;

  scrollbar-width: none;
}

.ul {
  background-color: white;
  /* padding: 0 35%; */
  margin: auto;
  width: 99%;
  overflow: scroll;

  scrollbar-width: none;
}

.active {
  background-color: rgba(21, 215, 180, 1) !important;
  border-color: turquoise !important;
}

.inactive {
  border-color: turquoise !important;
}

@media only screen and (max-width: 400px) {
  .ul {
    width: 99%;
    padding: 0 10%;
  }
}

.scroll {
  margin: auto;
  text-align: center;
}
